#content {
	width: 500px;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #ccc;
	box-shadow: 0 3px 4px #ccc;
	padding: 5px;
}

#list {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
