<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo List</title>
        <meta name="author" content="Rob Drake">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id='content'>
            <div id='list'>
                <h3>Shopping List</h3>
                    <ul>
                        <li>Bread</li>
                        <li>Milk</li>
                        <li>Peanut Butter</li>
                        <li>Jelly</li>
                        <li>Bologna</li>
                        <li>Sliced Cheese</li>
                    </ul>
            </div>
        </div>
    </body>
</html>

